div.trends
  div.form-group
    label(for="algo")
      | Algorithm
    select.form-control(id="algo" ng-model="algo" ng-change="getData();")
      option(value="sma")
        | Simple Moving Average
      option(value="ema")
        | Exponential Moving Average
      option(value="dema")
        | Double Exponential Moving Average

  div.form-group
    rate-picker(ng-model="rate" ng-change="getData();")

  div.form-group
    label(for="threshold")
    input.corm-control(type="text" id="threshold" ng-model="threshold" ng-change="getData();")

  table.table.table-bordered
    thead
      th
        | time
      th
        | type
      th
        | difference
    tbody
      tr(ng-repeat="row in data")
        td
          | {{row.time}}
        td
          | {{row.type}}
        td
          | {{row.difference * 100 | number:4}}%