div.trends
  table.table.table-bordered
    thead
      th
        | time
      th
        | type
      th
        | price
    tbody
      tr(ng-repeat="row in data")
        td
          | {{row.time}}
        td
          | {{row.type}}
        td
          | {{row.price}}