.chart
  height: 100%
  padding-top: 50px

candlestick-chart
  width: 100%

  .axis
    path
    line
      fill: none
      stroke: #000
      shape-rendering: crispEdges

  path
    .candle
      stroke: #000000

      .body
        stroke-width: 0

      .up
        fill: #00AA00
        stroke: #00AA00

      .down
        fill: #FF0000
        stroke: #FF0000