div
  select.form-control(ng-model="algo" ng-change="getData();")
    option(value="sma")
      | Simple Moving Average
    option(value="ema")
      | Exponential Moving Average
    option(value="dema")
      | Double Exponential Moving Average

  select.form-control(ng-model="rate" ng-change="getData(); setAutoRefresh()")
    option(value="60")
      | 1 minute
    option(value="300")
      | 5 minutes
    option(value="900")
      | 15 minutes

  linechart(data="data" options="chartOpts")